apiVersion: v1
kind: Secret
metadata:
  name: database-secret
type: Opaque
stringData:
  database-url: "postgresql://postgres:SuaSenhaSegura123!@encontros-tech-db.XXXXXXXXXX.us-west-2.rds.amazonaws.com:5432/encontrostechdb?sslmode=require"
